{%load static%}

<!DOCTYPE html>
<html>
<head>
    <title>Confirm Deletion</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
</head>
<body>
    <h1>Confirm Deletion</h1>
    <p>Are you sure you want to delete "{{ idea.title }}"?</p>
    <form method="post" class="confirm-deletion-form">
        {% csrf_token %}
        <button type="submit">Yes, delete</button>
    </form>
    <a href="{% url 'idea_detail' pk=idea.pk %}" class="cancel-link">Cancel</a>
    
</body>
</html>